:root {
  --black: #000000;
  --dark-violet: #150050;
  --violet: #550696;
  --pink: #fb2576;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Playfair Display SC", serif;
}
